<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="twofactorauth">
            <group id="general">
                <field id="enabled_skip_by_ip" translate="label" type="select" sortOrder="1000" showInDefault="1" canRestore="1">
                    <label>Skip 2FA By IP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowed_ips" translate="label" type="textarea" sortOrder="1020" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Allowed IP Addresses</label>
                    <comment>Enter comma-separated IP addresses that can bypass 2FA. No SPACE allowed</comment>
                </field>
                <field id="get_ip_from_key" translate="label" type="text" sortOrder="1021" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Get IP Addresses From Key</label>
                    <comment>Enter $_SERVER key from which Ip should be read, Example - HTTP_X_FORWARDED_FOR</comment>
                </field>
            </group>
        </section>
    </system>
</config>